# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
salaries_data = pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")
salaries_data

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
...,...,...,...,...,...,...,...,...
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33701,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DAIS,F,Salary,NaN,126732.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [3]:
display(salaries_data.head)

<bound method NDFrame.head of                          Name                 Job Titles        Department  \
0      ADRIANO,  RACQUEL ANNE                  PARAMEDIC              FIRE
1           AFFANEH,  MAHIR A             POLICE OFFICER            POLICE
2           AFOENYI,  PHYLLIS  TITLE V PROGRAM TRAINEE I  FAMILY & SUPPORT
3             AGAR,  BULENT B        DEPUTY COMMISSIONER       WATER MGMNT
4             AGEE,  LAWRENCE             POLICE OFFICER            POLICE
...                       ...                        ...               ...
33697      ZYLINSKA,  KLAUDIA             POLICE OFFICER            POLICE
33698      ZYMANTAS,  LAURA C             POLICE OFFICER            POLICE
33699       ZYMANTAS,  MARK E             POLICE OFFICER            POLICE
33700     ZYRKOWSKI,  CARLO E             POLICE OFFICER            POLICE
33701     ZYSKOWSKI,  DARIUSZ    CHIEF DATA BASE ANALYST              DAIS

      Full or Part-Time Salary or Hourly  Typical Hours  Annual Salary  \
0                     F           Salary            NaN        72510.0
1                     F           Salary            NaN        93354.0
2                     P           Hourly           20.0            NaN
3                     F           Salary            NaN       132972.0
4                     F           Salary            NaN        90024.0
...                 ...              ...            ...            ...
33697                 F           Salary            NaN        72510.0
33698                 F           Salary            NaN        76266.0
33699                 F           Salary            NaN        90024.0
33700                 F           Salary            NaN        93354.0
33701                 F           Salary            NaN       126732.0

       Hourly Rate
0              NaN
1              NaN
2             13.0
3              NaN
4              NaN
...            ...
33697          NaN
33698          NaN
33699          NaN
33700          NaN
33701          NaN

[33702 rows x 8 columns]>

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
print(salaries_data.isnull().sum())

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
# Your code here:
hourly_salaried_counts = salaries_data['Salary or Hourly'].value_counts()

department_employee_counts = salaries_data['Department'].value_counts()

print("Count of hourly vs. salaried employees:")
print(hourly_salaried_counts)
print("\nList of departments and the count of employees in each:")
print(department_employee_counts)

Count of hourly vs. salaried employees:
Salary or Hourly
Salary    25528
Hourly     8174
Name: count, dtype: int64

List of departments and the count of employees in each:
Department
POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [5]:
# Your code here:
print(salaries_data['Department'].value_counts())

Department
POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
from scipy import stats

hourly_wages = salaries_data[salaries_data['Salary or Hourly'] == 'Hourly']['Hourly Rate']
t_statistic, p_value = stats.ttest_1samp(hourly_wages.dropna(), 30)
print(f"Task 1 - t-statistic: {t_statistic}, p-value: {p_value}")

Task 1 - t-statistic: 31.211500329216044, p-value: 3.825475847673794e-202

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

## Task 2: Test if the average salary in the police department is different from $86,000/year.

In [8]:
police_salaries = salaries_data[(salaries_data['Department'] == 'POLICE') & (salaries_data['Salary or Hourly'] == 'Salary')]['Annual Salary']
t_statistic_police, p_value_police = stats.ttest_1samp(police_salaries.dropna(), 86000)
print(f"Task 2 - t-statistic: {t_statistic_police}, p-value: {p_value_police / 2}")

Task 2 - t-statistic: 18.51748561981861, p-value: 6.119566952121482e-76

Using the `crosstab` function, find the department that has the most hourly workers.

## Task 3: Find the department with the most hourly workers.

In [10]:

# Task 3: Find the department with the most hourly workers.
hourly_departments = salaries_data[salaries_data['Salary or Hourly'] == 'Hourly']['Department'].value_counts().idxmax()
print(f"Task 3 - Department with the most hourly workers: {hourly_departments}")

Task 3 - Department with the most hourly workers: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

## Task 4: Test if the hourly wage in that department is less than $35/hr.

In [11]:
# Your code here:
dept_hourly_wages = salaries_data[(salaries_data['Department'] == hourly_departments) & (salaries_data['Salary or Hourly'] == 'Hourly')]['Hourly Rate']
t_statistic_dept, p_value_dept = stats.ttest_1samp(dept_hourly_wages.dropna(), 35)
print(f"Task 4 - t-statistic: {t_statistic_dept}, p-value: {p_value_dept / 2}")  # one-tailed test
d

Task 4 - t-statistic: 4.000138803968834, p-value: 3.2902372218867895e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

## 1. Construct a 95% confidence interval for the mean hourly wage of all hourly workers.

In [12]:
# Your code here:

hourly_wage_data = salaries_data[salaries_data['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()
mean_hourly_wage = np.mean(hourly_wage_data)
std_error_hourly_wage = stats.sem(hourly_wage_data)
confidence_interval_hourly = stats.t.interval(0.95, len(hourly_wage_data)-1, loc=mean_hourly_wage, scale=std_error_hourly_wage)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

## 2. Construct a 95% confidence interval for all salaried employees in the police department.

In [13]:
# Your code here:

police_salary_data = salaries_data[(salaries_data['Department'] == 'POLICE') & (salaries_data['Salary or Hourly'] == 'Salary')]['Annual Salary'].dropna()
mean_police_salary = np.mean(police_salary_data)
std_error_police_salary = stats.sem(police_salary_data)
confidence_interval_police = stats.t.interval(0.95, len(police_salary_data)-1, loc=mean_police_salary, scale=std_error_police_salary)

print("95% confidence interval for the mean hourly wage of all hourly workers:")
print(confidence_interval_hourly)
print("\n95% confidence interval for all salaried employees in the police department:")
print(confidence_interval_police)

95% confidence interval for the mean hourly wage of all hourly workers:
(34.29839539204317, 34.874504045196865)

95% confidence interval for all salaried employees in the police department:
(88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [14]:
# Your code here:

from statsmodels.stats.proportion import proportions_ztest


# Calculate the number of hourly workers
hourly_workers_count = salaries_data[salaries_data['Salary or Hourly'] == 'Hourly'].shape[0]

# Total number of employees
total_employees = salaries_data.shape[0]

# Number of successes - in this context, it is the number of hourly workers
successes = hourly_workers_count

# Number of trials - total number of employees
nobs = total_employees

# The value of the null hypothesis is that 25% of the employees are hourly
value = 0.25

# Perform the test
stat, p_value = proportions_ztest(count=successes, nobs=nobs, value=value)

print(f"Z-test statistic: {stat}, p-value: {p_value}")

Z-test statistic: -3.1962453870335, p-value: 0.0013922864704323116